#article {
  width: 100%;
  display: flex;
  margin-top: 7.5rem;
}

.artMain {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.artCol {
  margin: 0 1rem;
  text-align: center;
  width: 100%;
  max-width: 36rem;
}

.artImg {
  cursor: pointer;
  height: 40rem;
  padding-top: 25rem;
  color: #fff;
}
.artImg .artHead {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.artImg .artDate {
  font-style: italic;
}

.artSniP {
  cursor: pointer;
}

.artSni {
  margin: 1rem auto;
  font-size: 1.6rem;
  color: #555;
}

.artSni button {
  margin-top: 1rem;
  background: none;
  border-radius: 2rem;
  padding: 0.4rem 0;
  border: 1px solid #555;
  transition: all 0.4s;
}

.artSni button a {
  color: #555;
  text-decoration: none;
  padding: 0.4rem 2rem;
}

.artSni button:hover {
  box-shadow: 0 0 0 3px rgba(85, 85, 85, 0.671);
}

button.slick-prev.slick-arrow {
  width: 30px;
  height: 30px;
  left: -3rem;
}

button.slick-next.slick-arrow {
  width: 30px;
  height: 30px;
  right: -3rem;
}

button.slick-prev::before,
button.slick-next:before {
  font-size: 30px;
}

.slick-prev:before,
.slick-next:before {
  z-index: 2;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.artMain:not(:hover) .slick-arrow,
.artMain:not(:hover) .slick-dots {
  opacity: 0;
}

.slick-arrow,
.slick-dots {
  transition: opacity 0.4s ease-out;
}
