#hero {
  z-index: 1;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroText {
  color: #fff;
  cursor: default;
}

.heroText h1 {
  margin-top: 6rem;
  font-size: 3rem;
}

.heroText p {
  margin-top: 1rem;
  font-size: 2rem;
  width: 100%;
  max-width: 66rem;
}

@media (max-width: 768px) {
  .heroText h1 {
    font-size: 2.5rem;
  }
  .heroText p {
    font-size: 1.5rem;
  }
}
