#join {
  margin-top: 7.5rem;
  width: 100vw;
  height: 300px;
  background-image: url(../img/iJoin.svg);
  display: flex;
}

#join .container {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.joinText {
  color: #fff;
  cursor: default;
}

.joinText h2 {
  font-size: 3rem;
}

.joinText p {
  margin-top: 1rem;
  font-size: 2rem;
  width: 100%;
  max-width: 80rem;
}

.joinButton button {
  background: none;
  border: 2px solid #fff;
  border-radius: 3rem;
  padding: 0.6rem 0;
  transition: all 0.4s;
}

.joinButton button:hover {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.671);
}

.joinButton button a {
  border-radius: 3rem;
  padding: 0.6rem 2.4rem;
  color: #fff;
  font-size: 3rem;
  text-decoration: none;
}

@media (max-width: 768px) {
  .joinText h2 {
    font-size: 2.5rem;
  }

  .joinText p {
    font-size: 1.5rem;
  }

  .joinButton button a {
    font-size: 2.5rem;
  }
}
