#navbar {
  z-index: 2;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  min-height: 8rem;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
}

/* style for burger icon */
.burger {
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #555;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: #fff;
}

.change .bar2 {
  opacity: 0;
  background-color: #fff;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: #fff;
}

.bg-sidebar {
  top: 0;
  right: -100%;
  bottom: 0;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  visibility: hidden;
}

.bg-sidebar.change {
  right: 0;
  visibility: visible;
  display: block;
}

.navLogo img {
  color: #3c7c40;
  height: 3.7rem;
}

.navRight {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.navRight {
  display: flex;
  align-items: center;
}

.navRight ul {
  display: flex;
  position: fixed;
  background-color: #181e19;
  top: 0;
  bottom: 0;
  right: -300px;
  width: 300px;
  transition: 0.5s;
  align-items: flex-start;
  flex-direction: column;
}

.navRight ul li {
  display: inline-block;
  width: 100%;
  list-style: none;
}

.navRight ul.change {
  right: 0;
  transition: 0.5s;
}

.navRight a {
  display: inline-block;
  width: 100%;
  padding: 2rem 4rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.4s;
}

.navRight a:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #3c7c40;
}

.navRight .active {
  color: #3c7c40;
}

.navRight .active:hover {
  font-weight: bold;
  transition: all 0.4s;
}



@media screen and (min-width: 960px) {
  .bg-sidebar.change {
    right: 0;
    visibility: hidden;
    display: none;
  }

  .burger {
    display: none;
  }

  .navRight {
    position: relative;
  }

  .navRight ul {
    display: flex;
    position: relative;
    background-color: unset;
    top: unset;
    bottom: unset;
    right: unset;
    width: unset;
    flex-direction: row;
  }

  .navRight ul li {
    width: 140px;
    padding: 10px 15px;
    list-style: none;
  }

  .navRight a {
    color: #555555;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    transition: all 0.4s;
    display: inline;
    padding: 0;
  }
  
  .navRight a:hover {
    background: none;
    color: #3c7c40;
  }
  
  .navRight .active {
    color: #3c7c40;
  }
  
  .navRight .active:hover {
    font-weight: bold;
    transition: all 0.4s;
  }
}

